<section>
  <div class="section-img"></div>
  <h1 class="h1">JSON<span class="secondletter">Placeholder</span></h1>
  <h3 class="h3">Angular App</h3>

  <div class="block">
    <fa-icon
      class="icons"
      [icon]="faClipboard"
      style="font-size: 65px"
    ></fa-icon>
    <div class="circle">
      <p class="pbutton">Posts</p>
    </div>
  </div>

  <div class="block2">
    <fa-icon class="icons" [icon]="faImages" style="font-size: 65px"></fa-icon>
    <div class="circle">
      <p class="pbutton">Albums</p>
    </div>
  </div>

  <div class="block3">
    <fa-icon
      class="icons"
      [icon]="faSquareCheck"
      style="font-size: 65px"
    ></fa-icon>
    <div class="circle">
      <p class="pbutton">Todos</p>
    </div>
  </div>
</section>
